section#contact .section-contato {
    text-transform: lowercase;
    border: 5px solid #fff;
    padding: 30px;
}

section#contact .section-contato a{
	color: #fff;
	    font-size: 60px;
	text-decoration: none;
}
section#contact .section-contato a:hover{
	color: #0CE89C;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}

.brandimg {
	width: 55px;
	float: left;
	margin-right: 10px;
	opacity: 0.7;
	padding: 5px;
}
.brandimg:hover {
	opacity: 1;
		-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}

.navbar-default {
	background-color: #222;
}

.descricao {
	padding: 15px;
	background-color: #f8f8f8;
}
.port-content {
	border-radius: 15px;
}

.port-content .col-md-9 {
	background-color: #fcfcfc;
	box-shadow: 2px 0 6px 0 rgba(0,0,0,0.1);
}
.portfolio-modal .modal-content {
	background-color: #f4f4f4
}